<div>
  <h3>Dynamic Component Loading Container</h3>
  <!--
    Директива target указывает место, куда необходимо динамически вставлять компоненты.
    <ng-template>/<ng-container> - удобный элемент для динамически вставляемых компонент,
    поскольку он ничего не рендерит, сам исчезает, а на его место добавляется компонент.

    Если использовать, например, <div target></div>, то div не исчезнет,
    а компонент будет добавлен после него.
  -->
  <ng-container appTarget></ng-container>

  <button (click)="onSwitchView()" class="btn btn-primary">Switch View</button>
</div>
