<h1>Hello. It works. Components Demo</h1>
<p><strong>
Goto app.component.html and uncomment a chunk of code
</strong></p>

<h4>Display Single Data and Collection Demo</h4>
<!--<app-list></app-list>-->

<h4>Communication Demo</h4>
<h5>Inputs, Outputs</h5>
<!-- [] - inputs -->
<!-- () - outputs -->
<!--<app-task-list
  [tasks]="tasks"
  (complete)="onCompleteTask($event)">
</app-task-list>-->

 <!--<app-task-form
  (addTask)="onAddTask($event)">
</app-task-form>-->

<h5>Event.Modifiers (Open Console)</h5>
<!--<app-click-stop></app-click-stop>-->

<h5>Access via template reference variable</h5>
<!--<app-parent></app-parent>-->

<h5>Sibling Communication</h5>
 <!--<app-sibling-container></app-sibling-container>-->



<h4>Host Component Demo</h4>
 <!--<app-host></app-host>-->


<h4>Projection Demo</h4>
<!-- Single Projection Demo -->
<!--<app-message title="Alert">
  Some text for our alert message
</app-message>-->

 <h4>Multi Projection Demo</h4>
 <!--<app-panel1>
  <panel-title>Panel Title</panel-title>
  <panel-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </panel-content>
</app-panel1>-->

 <!--<app-panel2>
  <div panel-title>Panel Title</div>
  <div panel-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</app-panel2>-->


<h4>Styling Demo</h4>
 <!--<app-inline-style></app-inline-style>
 <app-external-style></app-external-style>
<app-native-encapsulation></app-native-encapsulation>
 <app-no-encapsulation></app-no-encapsulation>-->


<h4>Lifecycle Hooks Demo</h4>
<!--<section>
  <h3>OnInit and OnDestroy Hooks</h3>
  <button (click)="toggle()">
          Toggle
  </button>
  <app-on-init-on-destroy *ngIf="display"></app-on-init-on-destroy>
</section>-->

<!--<section>
  <h3>OnChanges Hook</h3>
  <div>
    <label>Action:</label>
    <input type="text" #actionField
      (keyup)="setValues(actionField, responsibleField)">
  </div>
  <div>
    <label>Responsible:</label>
    <input type="text"
      #responsibleField
      (keyup)="setValues(actionField, responsibleField)">
  </div>
  <app-on-changes [action]="action" [responsible]="responsible" ></app-on-changes>
</section>-->

<!--<section>
  <h3>DoCheck Hook</h3>
  <app-do-check-item [item]="item"></app-do-check-item>
  <app-do-check-item-list
    [tasks]="tasks"
    (onRemove)="removeTask($event)">
  </app-do-check-item-list>
  <button (click)="addTask()">Add</button>
</section>-->

<!--<section>
  <h3>AfterXXX Hooks</h3>
  <app-afters></app-afters>
</section>-->

<!--<section>
  <h3>AfterViewInit, AfterViewChecked Hooks</h3>
  <app-after-view></app-after-view>
</section>-->

<!--<section>
  <h3>AfterContentInit, AfterContentChecked Hooks</h3>
  <app-after-content>
    <app-child-content></app-child-content>
  </app-after-content>
</section>-->

<h4>Dynamic Component Loading</h4>
<!--<app-dynamic-component-loading></app-dynamic-component-loading>-->


<h4>Change Detection Strategies</h4>
<!--<app-change-detection-container></app-change-detection-container>-->

<h4>Custom Structural Directive</h4>
<!--<app-unless-directive-demo></app-unless-directive-demo>-->

