<ul class="nav">
  <li *ngFor="let x of tabs; let i = index" class="nav-item">
    <a [ngClass]="x.isActive ? 'activeTab' : ''"
       class="nav-link"
       (click)="onTabClick(x.component, x.data, i)">
       {{x.tab}}
    </a>
  </li>
</ul>

<!-- ngComponentOutletInjector: Optional custom Injector that will be used as parent for the Component.
                                Defaults to the injector of the current view container.
     ngComponentOutletContent: Optional list of projectable nodes to insert into the content section of the component,
                               if it exists.
     ngComponentOutletNgModule: Optional NgModule class reference to allow loading another module dynamically,
                                then loading a component from that module.
-->
<ng-container
  [ngComponentOutlet]="activeComponent"
  [ngComponentOutletInjector]="myInjector">
</ng-container>

<p>Data received from Tab Component: {{ receivedData }}</p>
