<ul class="nav">
  @for(tab of tabs; track tab.label) {
  <li class="nav-item">
    <a
      [ngClass]="tab.isActive ? 'activeTab' : ''"
      class="nav-link"
      (click)="onTabClick(tab.component, tab.data, $index)"
    >
      {{ tab.label }}
    </a>
  </li>
  }
</ul>

<!-- ngComponentOutletInjector: Optional custom Injector that will be used as parent for the Component.
                                Defaults to the injector of the current view container.
     ngComponentOutletContent: Optional list of projectable nodes to insert into the content section of the component,
                               if it exists.
     ngComponentOutletNgModule: Optional NgModule class reference to allow loading another module dynamically,
                                then loading a component from that module.
-->
<ng-container
  [ngComponentOutlet]="activeComponent"
  [ngComponentOutletInjector]="myInjector"
/>

<p>Data received from Tab Component: {{ receivedData }}</p>
